@typeparam TValue
@using System.Globalization
@inherits W3FormComponentBase<TValue>

<select @attributes="AdditionalAttributes"
        id="@Id"
        name="@NameAttributeValue"
        class="@SelectCssClass"
        style="@Style"
        disabled="@Disabled"
        value="@CurrentValueAsString"
        @onchange="EventCallback.Factory.CreateBinder<string?>(this, value => CurrentValueAsString = value, CurrentValueAsString)">
    @if (!string.IsNullOrWhiteSpace(Placeholder))
    {
        <option value="" disabled="@PlaceholderDisabled">@Placeholder</option>
    }
    @ChildContent
</select>

@code {
    private string SelectCssClass => BuildControlClass("w3-select");

    /// <summary>
    /// Gets or sets the rendered element id.
    /// </summary>
    [Parameter]
    public string? Id { get; set; }

    /// <summary>
    /// Gets or sets the placeholder value.
    /// </summary>
    [Parameter]
    public string? Placeholder { get; set; }

    /// <summary>
    /// Gets or sets the placeholder disabled value.
    /// </summary>
    [Parameter]
    public bool PlaceholderDisabled { get; set; } = true;

    /// <summary>
    /// Gets or sets the content rendered inside the component.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override bool TryParseValueFromString(string? value, out TValue result, out string validationErrorMessage)
    {
        if (BindConverter.TryConvertTo<TValue>(value, CultureInfo.CurrentCulture, out var parsedValue))
        {
            result = parsedValue;
            validationErrorMessage = string.Empty;
            return true;
        }

        result = default!;
        validationErrorMessage = $"The {FieldIdentifier.FieldName} field is not valid.";
        return false;
    }
}
